{% extends 'layouts/default.html' %}
{% block body %}
<link rel="stylesheet" href="/static/css/style_account_list.css">
<div class="content-account">
  <div class="account-list">
    {% for a in accounts %}
    <table  cellspacing="0" class="account-table">
      <thead>
        <tr>
          <th colspan=2 class="th-list">{{ a.name }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan=2 class="supp-case">
            <form class="supp-form" action="" method="post">
              <input type="hidden" name="a_id" value="{{a.id}}">
              <button class="supp-btn" type="submit" name="btn" value="del-account">Supprimer le compte</button>
            </form>
          </td>
        </tr>
        {% for account in accountsList %}
          {% if account.account_id == a.id %}
            <tr>
              <td class="td-list">
                {{ account.date }}
              </td>
              <td class="td-list">
                <form class="" action="" method="post">
                  <input type="hidden" name="id" value="{{ account.id }}">
                  <button class="btn" type="submit" name="btn" value="del-month">
                    <img src="/static/icon/delete.ico" alt="">
                  </button>
                </form>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>

{% endblock %}
