{% extends 'layouts/default.html' %}
{% block body %}
<!-- <link rel="stylesheet" href="/static/css/submit.css"> -->
<div class="board-panel">
  <div class="f-row-right percent-90">
    <div class="div-display">
      <button class="btn" onclick="newDate()" id="form-date">
        <img class="img" src="/static/icon/add.ico" alt="">
      </button>
      <form class="new-date" action="" method="post" id="new-date">
        <input type="hidden" name="id" value="{{mAccount.account_id}}">
        <input type="month" name="date" value="" max="{{formDate}}" required>
        <button type="submit" class="btn" name="btn" value="new-date" onclick="closeDate()">
          <img class="img" src="/static/icon/add.ico" alt="">
        </button>
      </form>
      {% for k in sortDate %}
        <div id='date' class="dropdown">
          <a class="top-btn dropbtn" href="">{{ k[0] }}</a>
          <div class="dropdown-content">
            {% for x in k[1] %}
              {% for m in k[1]['months'] %}
                <a class="top-btn" href="{{ url_for('board', account=account.id, date=m['month']+' '+k[0]) }}">{{ m['month']+' '+k[0] }}</a>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      {% if date != currentDate and mAccount %}
        <a class="top-btn" href="{{ url_for('board', account=account.id , date=currentDate)}}">Aujourd'hui</a>
      {% endif %}
    </div>
    <form class="m-left-10" method="post">
      <input type="hidden" name="id" value="{{mAccount.account_id}}">
      <input type="hidden" name="date" value="{{mAccount.date}}">
      <input type="submit" class="top-btn t-17 p-button-12-24 red" name="btn" value="Cloturer">
    </form>
  </div>
  <table cellspacing="0" class="table">
    <thead class="">
      <tr>
        <th class="b-b"></th>
        <th class="radius-t-l th b-r b-b">{{ mAccount.account.name }}</th>
        <th class="b-b"></th>
        <th class=" radius-t-r th b-b">{{ mAccount.date }}</th>
        <th class="b-b"></th>
      </tr>
      <tr>
        <th class="th b-r b-b">Date</th>
        <th class="th b-r b-b">transaction</th>
        <th class="th b-r b-b">Crédit</th>
        <th class="th b-r b-b">Débit</th>
        <th class="th b-b">Action</th>
      </tr>
      <tr>
        <td class=""></td>
        <td class="al-r">
          <!-- <a class="midle-btn" onclick="choiceTr()" id="choice">
            Mensuel
          </a> -->
          <!-- <span class="c-white">Ajouter une transaction</span> -->
          <form class="f-column-center percent-100" action="" method="post" id="occasional">
            <div class="p-5 div-choice">
              <input id="transaction-ref" type="hidden" name="id" value="">
              <input type="hidden" name="date" value="{{mAccount.date}}">
              <input id="transaction-input" class="p-5" type="text" name="" value="" placeholder="Ajouter une transaction" autocomplete="off" required>
              <input class="vBtn p-5" type="submit" name="btn" value="Activer">
              <div id="transactions-choice" class="scroll-if bg-choice c-white" style="display:none">
                {% for t in transactions %}
                  {% if t.recurrence_id == 2 %}
                    <p class="transaction-choice pointer" value="{{ t.id }}">{{ t.name }}</p>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <!-- <select class="select-transaction" name="id" required>
              <option value="">-- Transactions occasionnelles --</option>
              {% for t in transactions %}
                {% if t.recurrence_id == 2 %}
                  <option value="{{ t.id }}">{{ t.name }}</option>
                {% endif %}
              {% endfor %}
            </select> -->
            <!-- <input class="vBtn" type="submit" name="btn" value="Activer"> -->
          </form>
          <!-- <form class="" action="" method="post" id="monthly">
            <select class="select-transaction" name="id" required>
                <option value="">-- Transactions mensuelles --</option>
              {% for t in transactions %}
                {% if t.recurrence_id == 1 %}
                  <option value="{{ t.id }}">{{ t.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <input class="vBtn" type="submit" name="btn" value="Activer">
          </form> -->
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody class="body-display" id='body'>
      <tr style="height: 0px;">
        <td style="height: 0px;"></td><td style="height: 0px;"></td><td style="height: 0px;"></td><td style="height: 0px;"></td><td style="height: 0px;"></td>
      </tr>
      {% for t in activTransactionList %}
        <tr style="{%if t.recurrence_id == 4%}color:grey;{%endif%}">
          <td class= "td-date">{{ t.date_move }}/{{month}}</td>
          <td class="t-display"><span id="{{t.id}}span">{{ t.name }}</span>
            {% if t.recurrence_id == 4 %}
            <form class="" action="" method="post">
              <input type="hidden" name="t_id" value="{{t.id}}">
              <button class="top-btn" style="border:none" type="submit" name="btn" value="activate">Activer</button>
            </form>
            {% endif %}
            {% if t.validation == False %}
              <button class="btn" onclick="openForm({{t.id}})" id="{{t.id}}btnForm">
                <img class="img" src="/static/icon/edit.ico" alt="">
              </button>
              <form class="form-popup" action="" method="post" id="{{t.id}}form1">
                <button class="btn" type="button" name='btn' onclick="closeForm({{t.id}})">
                  <img class="img" src="/static/icon/back.ico" alt="">
                </button>
                <input class="input-tab" type="hidden" name="id" value="{{ t.id }}">
                <input class="input-tab" size="2" type="text" name="transaction_date" value="{{ t.date_move }}" required>
                <select class="input-tab" name="transaction_category">
                  <option value="{{ t.category_id }}">{{t.category.name}}</option>
                  {% for c in categories %}
                    <option value="{{c.id}}">{{c.name}}</option>
                  {% endfor %}
                </select>
                <input class="input-tab" size="13" type="text" name="transaction_name" value="{{ t.name }}" required>
                <input class="input-tab" size="5" type="text" name="transaction_sum" value="{{ t.amout }}" required>
                <button class="btn" type="submit" onclick="getPos({{t.id}}, 'form1')" name="btn" value="Modif">
                  <img class="img" src="/static/icon/checkbox.ico" alt="">
                </button>
              </form>
            {% endif %}
          </td>
          {% if t.transaction.type_id == 1 %}
          <td class="credit sum al-c">{{ t.amout }}</td>
          <td class="al-c"> ___ </td>
          {% else %}
          <td class="td-display al-c"> ___ </td>
          <td class="debit sum al-c">{{ t.amout }}</td>
          {% endif %}
          <td class="valid-form">
            <form class="form-btn" id="{{t.id}}form2" action="" method="post">
              <input type="hidden" name="id" value="{{ t.id }}">
              <input type="hidden" name="a_id" value="{{ account.id }}">
              <input type="hidden" name="n_balance" value="{{ account.balance }}">
              <input type="hidden" name="t_name" value="{{ t.name }}">
              <input type="hidden" name="date" value="{{mAccount.date}}">

              {% if t.validation == False %}
              {% if t.recurrence_id != 4%}
              <button class="btn" type="submit" name="btn" onclick="getPos({{t.id}}, 'form2')" value="Valider">
                <img class="img" src="/static/icon/checkbox.ico" alt="">
              </button>
              {% endif %}
              <button class="btn" type="submit" name="btn" onclick="getPos({{t.id}}, 'form2')" value="del">
                  <img class="img" src="/static/icon/delete.ico" alt="">
              </button>
              {% else %}
              <button class="btn" type="submit" name="btn" onclick="getPos({{t.id}}, 'form2')" value="En attente">
                <img class="img" src="/static/icon/waiting.png" alt="">
              </button>
              {% endif %}
            </form>
          </td>
        </tr>
      {% endfor %}
      {% for k,v in tools.setForecastCategory().items() %}
        <tr>
          <td colspan=2 class="c-display">{{k.name}}</td>
          {% if v >= 0 %}
          <td class="credit sum al-c">{{v}}</td>
          <td class="sum al-c">___</td>
          {% else %}
          <td class="sum al-c">___</td>
          <td class="debit sum al-c">{{v}}</td>
          {% endif %}
          <td class="valid-form">
            <form class="form-btn" action="" method="post">
              <input type="hidden" name="c_id" value="{{k.id}}">
              <button class="btn" type="submit" name="btn" value="delCat">
                <img class="img" src="/static/icon/delete.ico" alt="">
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>

    </tfoot>
  </table>
  <div class="div-display div-bottom">
    <div class="div-bottom">
      <div class="balance flex-between">
        {% if currentDate >= date %}
        <div class="{%if mAccount.forecast_balance >= 0%}credit{%else%}debit{%endif%}"">
          <span class="result">Solde prévisionnel : </span>
          <span class="result">{{ mAccount.forecast_balance }}</span>
        </div>
        {% endif %}
      </div>
      <div class="balance flex-end">
        <div class="{%if mAccount.balance >= 0%}credit{%else%}debit{%endif%}" id="balance">
          <span class="result">Solde : </span>
          <span class="result">{{ mAccount.balance }}</span>
        </div>
        <form class="form-popup" action="" method="post" id="balForm">
          <div class="flex-end">
            <input size="6" class="input" type="text" name="balance" value="{{ mAccount.balance }}">
            <button class="btn" type="submit" name="btn" value="initialiser">
              <img class="img" src="/static/icon/checkbox.ico" alt="">
            </button>
          </div>
        </form>
        <button class="btn write" onclick="balanceSetting()" id="balBtn" style="margin-left:10px">
          <img class="img" src="/static/icon/edit.ico" alt="">
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function openForm(id) {
    document.getElementById(id+'form1').style.display = "flex";
    document.getElementById(id+"btnForm").style.display = "none";
    document.getElementById(id+"span").style.display = "none";
    document.getElementById(id+"new-date").style.display = "block";
  }
  function closeForm(id) {
    document.getElementById(id+'form1').style.display = "none";
    document.getElementById(id+"btnForm").style.display = "block";
    document.getElementById(id+"span").style.display = "block";
  }
  function newDate() {
    document.getElementById("new-date").style.display = "flex";
    document.getElementById("form-date").style.display = "none";
  }
  function closeDate() {
    document.getElementById("new-date").style.display = "none";
    document.getElementById("form-date").style.display = "block";
  }
  function choiceTr() {
    if(document.getElementById("monthly").style.display != "block") {
      document.getElementById("monthly").style.display = "block";
      document.getElementById("occasional").style.display = "none";
      var choice = 'Occasionnel';
      document.getElementById("choice").innerHTML=choice;
    } else {
      document.getElementById("monthly").style.display = "none";
      document.getElementById("occasional").style.display = "block";
      var choice = 'Mensuel';
      document.getElementById("choice").innerHTML=choice;
    }
  }
  function balanceSetting() {
    document.getElementById("balance").style.display = "none";
    document.getElementById("balBtn").style.display = "none";
    document.getElementById("balForm").style.display = "block";
  }
  function getPos(formId, i) {
    var trs = document.getElementById('body').scrollTop;
    var url = document.location.href.split('&scroll')[0]+'&scroll='+trs
    document.getElementById(formId+i).action = url
  }
  function Scroller() {
    param = window.location.search
    pos = param.split('&scroll=')[1]
    document.getElementById('body').scrollTo(0 , pos)
  }
  setTimeout(Scroller, 50)
  Scroller()

  inputChoice('transaction-ref', 'transaction-input', 'transactions-choice', 'transaction-choice')
  inputChoice('category-ref', 'category-input', 'categories-choice', 'category-choice')


  function inputChoice(xref, xinput, xdivChoice, xchoices) {
    let ref = document.getElementById(xref)
    let input = document.getElementById(xinput)
    let divChoice = document.getElementById(xdivChoice)
    let choices = document.getElementsByClassName(xchoices)

    input.addEventListener('focus', () => {
      divChoice.style.display = null
    })

    input.addEventListener('focusout', () => {
      setTimeout(() => {divChoice.style.display = 'none'}, 200)
    })

    input.addEventListener('keyup', () => {
      choiceList = []
      if(input.value.length >= 0) {
        Array.from(choices).forEach(choice => {
          choice.style.display = 'none'
          if(!choice.innerText.toLowerCase().indexOf(input.value.toLowerCase())) {
            choice.style.display = null
            choiceList.push([choice.innerText, choice.getAttribute('value')])
          }
        })
      }
      if(choiceList.length == 1) {
        input.value = choiceList[0][0]
        ref.value = choiceList[0][1]
      }
    })
    Array.from(choices).forEach(choice => {
      choice.addEventListener('click', () => {
        input.value = choice.innerText
        ref.value = choice.getAttribute('value')
        divChoice.style.display = 'none'
      })
    })
  }

</script>
{% endblock %}
