{% extends 'layouts/default.html' %}
{% block body %}
<link rel="stylesheet" href="/static/css/charts.css">
<div class="back">
  <div class="">
    <div class="div-display">
      <div class="dropdown">
        <a class="dropbtn top-btn other" href="{{ url_for('transactionList', account=a_id) }}"">Tout</a>
      </div>
      <div class="dropdown">
        <a class="dropbtn top-btn" href="">par catégorie</a>
        <div class="dropdown-content">
          {% for c in categories %}
            <a class="top-btn" href="{{ url_for('transactionList', account=a_id, cat=c.name) }}">{{c.name}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <a class="dropbtn top-btn" href="">par récurrence</a>
        <div class="dropdown-content">
          {% for r in recurrences %}
            {% if r.id != 3 %}
              <a class="top-btn" href="{{ url_for('transactionList', account=a_id, recurrence=r.name) }}">{{r.name}}</a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="dropdown">
        <a class="dropbtn top-btn" href="">par type</a>
        <div class="dropdown-content">
          {% for type in types %}
            <a class="top-btn" href="{{ url_for('transactionList', account=a_id, type=type.name) }}">{{type.name}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <input type="hidden" id="negCats" name="" value="{{negCategoryList}}">
    <div class="div-display chart-content">
      <h2>Moyenne des dépenses</h2>
      <div class="chart">
        <canvas id="averageNegCat"></canvas>
      </div>
    </div>
    <div id="test" class="" style="display: none">
      TEST
    </div>
  </div>
</div>

  <!-- <input type="hidden" id="negCats" name="" value="{{negCategoryList}}">
  <div class="div-display chart-content">
    <h2>Moyenne des dépenses</h2>
    <div class="chart">
      <canvas id="myChart"></canvas>
    </div>
  </div> -->
<script src="/static/js/charts.js"></script>
{% endblock %}
