{% extends 'layouts/default.html' %}
{% block body %}
<link rel="stylesheet" href="/static/css/style_home.css">
<div class="home-container">
  <div class="">
    {% for a in accounts %}
      <a class="button" href="{{ url_for('board', account=a.id, date=currentDate) }}">{{ a.name }}</a>
    {% endfor %}
  </div>
  <div class="">
    <a class="button new-account" href="{{ url_for('newAccount') }}">Nouveau compte</a>
  </div>
</div>
{% endblock %}
