{% extends 'layouts/default.html' %}
{% block body %}
<link rel="stylesheet" href="/static/css/style_new_account.css">
<!-- <link rel="stylesheet" href="/static/css/submit.css"> -->

<div class="account-content">
  <form class="background-case form" action="" method="post">
    <h2 class="text">Nouveau compte</h2>
    <input class="select" type="text" name="bank" placeholder="Banque" required>
    <input class="select" type="text" name="name" placeholder="Compte" required>
    <input class="select" type="text" name="balance" placeholder="Solde" required>
    <input class="input submit" type="submit" name="" value="Enregistrer" required>
  </form>
</div>

{% endblock %}
