{% extends 'layouts/default.html' %}
{% block body %}
<link rel="stylesheet" href="/static/css/style_transaction_list.css">
<div class="transaction-display">
  <div class="div-display">
    <a class="top-btn dropbtn" onclick="changeView(2)">Catégories</a>
    <a class="top-btn dropbtn" onclick="changeView(1)">Transactions</a>
  </div>
  {% include 'layouts/shareds/transaction_list.html' %}
  {% include 'layouts/shareds/category_list.html' %}
</div>

<script type="text/javascript">
  function openForm(id) {
    document.getElementById(id).style.display = "flex";
    document.getElementById(id+"btn").style.display = "flex";
    document.getElementById(id+"btnForm").style.display = "none";
    document.getElementById(id+"span").style.display = "none";
    document.getElementById(id+"new-date").style.display = "block";
  }
  function closeForm(id) {
    document.getElementById(id).style.display = "none";
    document.getElementById(id+"btnForm").style.display = "block";
    document.getElementById(id+"span").style.display = "block";
  }
  function getPos(formId) {
    var trs = document.getElementById('body').scrollTop;
    var url = document.location.href.split('&scroll')[0]+'&scroll='+trs
    // console.log('id ::: '+ formId)
    document.getElementById(formId).action = url
  }
  function Scroller() {
    param = window.location.search
    pos = param.split('&scroll=')[1]
    console.log(parseInt(pos))
    document.getElementById('body').scrollTo(0 , pos)
    console.log('scrollBody :: '+ document.getElementById('body').scrollTop)
  }
  setTimeout(Scroller, 50)
  Scroller()

  const transactionView = document.getElementById('transactionView')
  const categoryView = document.getElementById('categoryView')
  function changeView(view) {
    if(view == 1) {
      transactionView.classList.add('transaction-display')
      transactionView.classList.remove('hidden')
      categoryView.classList.add('hidden')
      categoryView.classList.remove('transaction-display')
      console.log(categoryView.classList)
    }
    else {
      transactionView.classList.add('hidden')
      transactionView.classList.remove('transaction-display')
      categoryView.classList.add('transaction-display')
      categoryView.classList.remove('hidden')
      console.log(categoryView.classList)
    }
  }
</script>

{% endblock %}
