<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style_default.css">
    <link rel="stylesheet" href="/static/css/style_panel.css">
    <link rel="stylesheet" href="/static/css/style_board.css">
    <link rel="stylesheet" href="/static/css/style_header.css">
    <link rel="stylesheet" href="/static/css/my_css/dropdown.css">
    <link rel="stylesheet" href="/static/css/my_css/flexbox.css">
    <link rel="stylesheet" href="/static/css/my_css/general_display.css">
    <script src="/static/js/chartJS/chart.js"></script>
    <title></title>
  </head>
  <body class="color">
    {% include 'layouts/shareds/header.html' %}
    <div class="content">
      <div id="left-content" class="left-content">
        {% include 'layouts/shareds/left_panel.html' %}
      </div>
      <div class="center-content">
        {% block body %}
        {% endblock %}
      </div>
      <div class="right-content">
        {% include 'layouts/shareds/right_panel.html' %}
      </div>
    </div>
  </body>
</html>
