.flex { display: flex; }
.res { flex-wrap: wrap; }

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-row-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.f-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.f-row-center {
  display: flex;
  justify-content: center;
}

.f-row-align {
  display: flex;
  align-items: center;
}

.f-row-between {
  display: flex;
  justify-content: space-between;
}

.f-row-around {
  display: flex;
  justify-content: space-around;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.f-column-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.f-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.f-column-around {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}
