* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

hr {
  border: 1px solid rgb(235,235,235);
  margin: 15px 0;
}

a { text-decoration: none; }
a:hover { text-decoration: none; }

p {
  padding: 5px;
}

input:focus {
  border: none;
}

.c-white { color: white; }

.p-3 { padding: 3px; }
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-15 { padding: 15px; }
.p-20 { padding: 20px; }
.p-25 { padding: 25px; }
.p-30 { padding: 30px; }
.p-35 { padding: 35px; }
.p-40 { padding: 40px; }


.p-top-3 { padding-top: 3px; }
.p-top-5 { padding-top: 5px; }
.p-top-10 { padding-top: 10px; }
.p-top-15 { padding-top: 15px; }
.p-top-20 { padding-top: 20px; }
.p-top-25 { padding-top: 25px; }
.p-top-30 { padding-top: 30px; }
.p-top-35 { padding-top: 35px; }
.p-top-40 { padding-top: 40px; }

.p-left-5 { padding-left: 5px; }
.p-left-10 { padding-left: 10px; }
.p-left-15 { padding-left: 15px; }
.p-left-20 { padding-left: 20px; }
.p-left-25 { padding-left: 25px; }
.p-left-30 { padding-left: 30px; }
.p-left-35 { padding-left: 35px; }
.p-left-40 { padding-left: 40px; }

.p-bottom-5 { padding-bottom: 5px; }
.p-bottom-10 { padding-bottom: 10px; }
.p-bottom-15 { padding-bottom: 15px; }
.p-bottom-20 { padding-bottom: 20px; }
.p-bottom-25 { padding-bottom: 25px; }
.p-bottom-30 { padding-bottom: 30px; }
.p-bottom-35 { padding-bottom: 35px; }
.p-bottom-40 { padding-bottom: 40px; }

.r-5 { border-radius: 5px; }
.r-10 { border-radius: 10px; }
.r-50 { border-radius: 50px; }

.r-top-5 { border-radius: 5px 5px 0 0; }
.r-top-10 { border-radius: 10px 10px 0 0; }
.r-top-50 { border-radius: 50px 50px 0 0; }

.r-bottom-5 { border-radius: 0 0 5px 5px; }
.r-bottom-10 { border-radius: 0 0 10px 10px; }
.r-bottom-50 { border-radius: 0 0 50px 50px; }

.m-5 { margin: 5px; }
.m-10 { margin: 10px; }
.m-15 { margin: 15px; }
.m-20 { margin: 20px; }
.m-25 { margin: 25px; }
.m-30 { margin: 30px; }
.m-35 { margin: 35px; }
.m-40 { margin: 40px; }


.m-top-3 { margin-top: 3px; }
.m-top-5 { margin-top: 5px; }
.m-top-10 { margin-top: 10px; }
.m-top-15 { margin-top: 15px; }
.m-top-20 { margin-top: 20px; }
.m-top-25 { margin-top: 25px; }
.m-top-30 { margin-top: 30px; }
.m-top-35 { margin-top: 35px; }
.m-top-40 { margin-top: 40px; }

.m-left-5 { margin-left: 5px; }
.m-left-10 { margin-left: 10px; }
.m-left-15 { margin-left: 15px; }
.m-left-20 { margin-left: 20px; }
.m-left-25 { margin-left: 25px; }
.m-left-30 { margin-left: 30px; }
.m-left-35 { margin-left: 35px; }
.m-left-40 { margin-left: 40px; }

.m-bottom-5 { margin-bottom: 5px; }
.m-bottom-10 { margin-bottom: 10px; }
.m-bottom-15 { margin-bottom: 15px; }
.m-bottom-20 { margin-bottom: 20px; }
.m-bottom-25 { margin-bottom: 25px; }
.m-bottom-30 { margin-bottom: 30px; }
.m-bottom-35 { margin-bottom: 35px; }
.m-bottom-40 { margin-bottom: 40px; }

.p-button-8-24 {
  padding: 8px 24px;
}

.p-button-12-24 {
  padding: 10px 24px;
}

.t-10 { font-size: 10px; }
.t-15 { font-size: 15px; }
.t-16 { font-size: 16px; }
.t-17 { font-size: 17px; }
.t-18 { font-size: 18px; }
.t-19 { font-size: 19px; }
.t-20 { font-size: 20px; }
.t-21 { font-size: 21px; }
.t-22 { font-size: 22px; }
.t-23 { font-size: 23px; }
.t-24 { font-size: 24px; }
.t-25 { font-size: 25px; }
.t-26 { font-size: 26px; }
.t-27 { font-size: 27px; }
.t-28 { font-size: 28px; }
.t-29 { font-size: 29px; }

.percent-10 { width: 10%; }
.percent-20 { width: 20%; }
.percent-30 { width: 30%; }
.percent-40 { width: 40%; }
.percent-40 { width: 40%; }
.percent-50 { width: 50%; }
.percent-60 { width: 60%; }
.percent-70 { width: 70%; }
.percent-80 { width: 80%; }
.percent-90 { width: 90%; }
.percent-100 { width: 100%; }


.hidden {
  display: none;
}

.no-link:hover {
  text-decoration: none;
}

.align-center {
  text-align: center;
}

.half {
  width: 50%;
}

.w-100 {
  width: 100%
}

.button {
  border: none;
  background-color: none;
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}.button:hover {
  opacity: 0.8;
}.button:active {
  box-shadow: 1px 1px 2px black inset;
}

.pointer {
  cursor: pointer;
}

.red {
  background-color: rgb(190,0,0) !important;
}

/* .min-size {
  width: 100%;
  border: 1px solid red;
} */
