.chart-content {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  color: white;
  padding-top: 30px;
}

.chart {
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
}

.back {
  flex-direction: column;
  width: 90%;
  height: 90%;
  justify-content: space-around;
}

.right-content {
  display: none;
}
