.right-content {
  display: none;
}

.p-div-display form, .p-div-display h3 {
  display: none;
}

.center-content {
  display: block;
  width: 85%;
}

.stat-title {
  font-size: 30px;
}

/* table tr th {
  width: 15%;
  border
} */

.category {
  max-height: 80%;
  /* max-width: 100%; */
  overflow: auto;
  margin: 3%;
  padding: 1%;
  /* background: var(--main-color); */
  /* box-shadow: 0px 0px 4px 2px var(--main-shadow-color); */
}

.category th {
  padding: 2px 5px;
  min-width: 150px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.6);
}

.month {

}
