/* static/css */

* {
  --main-shadow-color: rgba(200,200,200,0.5);
  --main-color: rgba(20,20,20,0.3);
  --body-color: linear-gradient(to right bottom, rgb(0,0,0),rgb(20,70,80),rgb(0,0,0));
  --button-color: rgb(30,100,190);
}

* {
  margin: 0;
  font-family: sans-serif;
}

.bg-main {
  background: var(--main-color);
}

.test {
  border: 1px solid red;
}

.hidden {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(60,60,60);
  box-shadow: inset 3px 3px 6px rgba(0,0,0,0.7);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(20,45,80);
  box-shadow: inset 1px 1px 1px white, inset  1px 1px 2px grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(60,60,60);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.8;
}

button, input {
  border: none;
} button:hover {
  outline: none;

} button:focus, input:focus, select:focus {
  outline: none;
}
button:active {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5) inset;
}

.color {
  background: var(--body-color);
}

.left-content, .right-content {
  display: flex;
  align-items: center;
  width: 15%;
  height: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94.9vh;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--main-color);
  min-width: 160px;
  box-shadow: 0 0 4px 2px var(--main-shadow-color);
  z-index: 1;
}

.dropdown-content a {
  margin: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

.top-btn, .midle-btn {
  color: white;
  text-decoration: none;
  background-color: rgb(10,50,100);
  padding: 7px 10px;
  margin: 0 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}.top-btn:active, .midle-btn:active {
  box-shadow: 1px 1px 1px black inset;
}

.midle-btn {
  margin: 2px 5px;
}

.left-btn {
  display: none;
}

.left-panel-close {
  display: none;
}

@media screen and (max-width: 1000px) {
  .right-content {
    display: none;
  }

  .left-content {
    position: fixed;
    height: 95vh;
  }

  .left-panel-open {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(0,0,0,0.7) !important;
    color: white;
    width: 100%;
    height: 97%;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 2px 4px var(--main-shadow-color);
  }

  .left-panel {
    display: none;
    background-color: rgba(0,0,0,0.7) !important;
  }

  #left-close {
    width: 100%;
    position: absolute;
    text-align: right;
    padding: 5px;
  }
  #left-close:hover {
    color: rgba(255,100,100,0.7);
  }

  #left-open:hover {
    color: rgba(100,255,100,0.7);
  }

  #left-open {
    align-self: flex-start;
    color: white;
    margin-top: 20px;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 4px 1px var(--main-shadow-color);
  }

  .center-content {
    width: 100%;
  }
  @media screen and (min-height: 1000px) {
    .content {
      height: 94.9vh !important;
      /* border-bottom: 1px solid red; */
    }
  }
}

@media screen and (max-width: 1601px) {
  .content {
    height: 93.8vh;
  }
