.balance {
  width: 50%;
  align-items: center;
}

.b-b {
  border-bottom: 1px solid black;
}

.b-r {
  border-right: 1px solid black;
}

.b-t {
  border-top: 1px solid black;
}

.b-l {
  border-left: 1px solid black;
}

.board-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75.5%;
  height: 100%;
}

.al-c {
  text-align: center;
}

.al-r {
  display: flex;
  justify-content: space-between;
}

.bg-choice {
  background-color: rgba(42,42,42,0.8);
}

#transactions-choice, #categories-choice {
  position: absolute;
  min-width: 200px;
}
#category-input {
  position: relative;
  width: 98%;
}

.transaction-choice:hover, .category-choice:hover {
  background-color: rgba(150,150,150,0.8);
  text-shadow: 2px 2px 2px black;
}

#monthly {
  display: none;
}

.case-forecast, .case-balance {
  text-align: center;
}

.c-display {
  text-align: center;
}

.credit {
  text-shadow: 1px 1px 2px green;
}

.div-bottom {
  color: white;
  padding: 4px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.new-date {
  display: none;
}

.refresh {
  width: 97%;
}

.div-display {
  align-self: center;
  padding: 5px;
  margin: 1em 0;
  border-radius: 5px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px 2px var(--main-shadow-color);
}

.debit {
  text-shadow: 1px 1px 2px red;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-around {
  dislpay: flex;
  justify-content: space-around;
}

.foot-bottom {
  background-color: white;
  padding: 5px;
  /* margin: 2px; */
}

.foot-title {
  width: 52em;
  text-align: right;
}

.icon-btn {
  border: 1px solid black;
  justify-content: center;
  /* margin: -10px; */
  /* border: none; */
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  /* height: 4vh; */
  /* width: 1vh; */
}.icon-btn:focus {
  border: none;
  outline: none;
}

.icon-edit {
  width: 30px;
}

.icon-check {
  width: 20px;
}

.input {
  font-size: 15px;
  border: none;
  background-color: white;
  margin: 2px;
  padding: 3px;
}.input:focus {
  border: none;
  outline: none;
}

.input-tab {
  font-size: 15px;
  text-align: center;
  margin: 5px;
  background-color: white;
  border: none;
}.input-tab:focus {
  border: none;
  outline: none;
}

.t-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-display span {
  padding-left: 10px;
}

.radius-t-l {
  border-radius: 5px 0 0 0;
}

.radius-t-r {
  border-radius: 0 5px 0 0;
}

.radius-top {
  border-radius: 5px 5px 0 0;
}

.radius-bottom-left {
  border-radius: 0 0 0 5px;
}

.radius-bottom-right {
  border-radius: 0 0 5px 0;
}

.result {
  font-size: 20px;
}

.scroll-if {
  max-height: 20vh;
  overflow-y: auto;
}

.select {
  font-size: 15px;
  border: none;
  background-color: white;
  margin: 2px;
  padding: 2px;
}

.select-transaction {
  font-size: 15px;
  border: none;
  background-color: white;
  margin: 6px 0;
  padding: 3px;
}

.select-date {
  font-size: 15px;
  border: none;
  background-color: white;
  margin: 2px;
  padding: 1px;
}

.submit {
  background-color: var(--button-color);
  padding: 5px 0;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}.submit:hover {
  opacity: 0.8;
}.submit:active {
  box-shadow: -1px -1px 1px black inset;
}

/* .sum, .forecast {
  width: 100px;
} */

.table, .transaction-table {
  /* display: block; */
  box-shadow: 0px 0px 4px 2px var(--main-shadow-color);
  border-radius: 5px;
  text-shadow: 0 0 1px rgb(100,100,100);
  /* width: 100%; */
}

.table tbody, .transaction-table tbody {
  display: block;
  overflow-y: scroll;
  max-height: 64vh;
  background-color: rgba(200,200,200,0.2);
}
.table thead, .table tfoot, .transaction-table {
  display: block;
  background: var(--main-color);
  border-radius: 5px 5px 0 0;
}
.table tfoot {
  display: block;
}

.table thead tr th:nth-child(1), .table tbody tr:first-child td:nth-child(1), .table tfoot tr:first-child td:nth-child(1) {
  width: 5em;
}
.table thead tr th:nth-child(2), .table tbody tr:first-child td:nth-child(2), .table tfoot tr:first-child td:nth-child(2) {
  width: 32em;
}
.table thead tr th:nth-child(3), .table tbody tr:first-child td:nth-child(3), .table tfoot tr:first-child td:nth-child(3) {
  width: 8em;
}
.table thead tr th:nth-child(4), .table tbody tr:first-child td:nth-child(4), .table tfoot tr:first-child td:nth-child(4) {
  width: 8em;
}
.table thead tr th:nth-child(5), .table tfoot tr:first-child td:nth-child(5) {
  width: 9.5em;
}
.table tbody tr:first-child td:nth-child(5) {
  width: 9em;
}

.table tbody tr {
  background-color: white;
}
.table tbody tr:nth-child(odd){
  background-color: lightgray;
}

.flex-form {
  display: flex;
  align-items: center;
  width: 100%;
}
.img {
  width: 100%;
}
.btn {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}.btn:focus {
  outline: none;
}

.form-btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.td-display {
  /* padding: 10px 15px; */
}

.td-date {
  text-align: center;
}

.td-flex {
  display: flex;
  justify-content: center;
}

td {
  height: 35px;
}

th {
  color: white;
  height: 35px;
}

.th-month {
  border-left: none;
}

.vBtn {
  padding: 4px;
}

.write {
  background-color: rgba(255,255,255,0.2);
  border-radius: 100%;
}

.form-popup {
  display: none;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1350px) {
  .board-panel {
    width: 100%;
  }
}

@media screen and (max-width: 1601px) {
  /* table tbody {
    height: 58vh;
  } */
  .table thead tr th:nth-child(1), .table tbody tr:first-child td:nth-child(1), .table tfoot tr:first-child td:nth-child(1) {
    width: 3em;
  }
  .table thead tr th:nth-child(2), .table tbody tr:first-child td:nth-child(2), .table tfoot tr:first-child td:nth-child(2) {
    width: 27em;
  }
  .table thead tr th:nth-child(3), .table tbody tr:first-child td:nth-child(3), .table tfoot tr:first-child td:nth-child(3) {
    width: 7em;
  }
  .table thead tr th:nth-child(4), .table tbody tr:first-child td:nth-child(4), .table tfoot tr:first-child td:nth-child(4) {
    width: 7em;
  }
  .table thead tr th:nth-child(5), .table tfoot tr:first-child td:nth-child(5) {
    width: 8em;
  }
  .table tbody tr:first-child td:nth-child(5) {
    width: 8em;
  }
}
