.account-table {
  /* box-shadow: 0px 0px 4px 2px var(--main-shadow-color); */
  border-radius: 5px;
  text-shadow: 0 0 1px rgb(100,100,100);
  width: 10vw;
  box-shadow: 0px 0px 2px 1px var(--main-shadow-color);
}

.account-list {
  display: flex;
  background-color: var(--main-color);
  box-shadow: 0px 0px 4px 2px var(--main-shadow-color);
  border-radius: 5px;
  /* padding: 0.7%; */
  overflow-x: auto;
}

.th-list {
  background-color: var(--main-color);
}

.th-list, .td-list {
  width: 100%;
  text-align: center;
  border: 2px solid rgba(0,0,0,0);
}

.content-account {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 95%;
}

.center-content {
  width: 85%;
}

.right-content {
  display: none;
}

.supp-form {
  display: flex;
  width: 100%;
  justify-content: center;
}

.supp-btn {
  color: white;
  background-color: rgb(255,0,35);
  padding: 3%;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
