.left-content, .right-content {
  display: none;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
}

.center-content {
  width: 100%;
}

.home-title {
  font-size: 55px;
  padding: 5%;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 10px rgba(255,255,255,0);
  cursor: default;
}
