.filter tr th {
  text-align: none;
}

.other {
  background-color: grey;
  /* color: black; */
}

.filter .dropdown-content {
  max-height: 300px;
  overflow-y: auto;
}

.no-input {
  background-color: rgba(0,0,0,0);
}

.m-top-20 {
  margin-top: 20px;
}

.transaction-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.transaction-table {
  width: 65%;
}

.th-list {
  width: 100%;
}

.transaction-table tbody td {
  width: 100%;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: none;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
}

.btn-choice {
  display: flex;
}

.center-content {
  width: 85%;
}

.right-content {
  display: none;
}

@media screen and (max-width: 1350px) {
  .transaction-table {
    width: 90%;
  }

  .filter {
    left: 4%;
    top: 155px;
  }
}
