header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: var(--main-color);
  box-shadow: 0 2px 4px var(--main-shadow-color);
  color: white;
  text-align: center;
  padding: 10px;
}

li {
  list-style: none;
  /* text-decoration: none; */
}

.title {
  display: flex;
  color: white;
  font-size: 22px;
}

.header-home {
  display: flex;
  align-items: center;
  width: 18%;
  /* border: 1px solid red; */
}
.header-home img {
  margin: 0 2% 0 2%;
}

/* h1 {
  font-size: 22px;
} */

.nav-bar {
  display: flex;
}

@media screen and (max-width: 1000px) {
  .header-home {
    width: 33%;
  }

  .title {
    font-size: 18px !important;
  }
}
