.account {
  max-height: 40%;
}

.average-board {
  color: black;
  box-shadow: 0 0 4px 2px var(--main-shadow-color);
}

.average-board th {
  background-color: var(--main-color);
}

tbody tr:nth-child(odd) {
  background-color: lightgray;
}

table tbody tr {
  background-color: white;
}

.panel-title {
  margin-top: 20px;
}

.button {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 10px;
  background-color: rgb(220,220,220);
  box-shadow: 1px 1px 1px black;
}.button:hover {
  opacity: 0.8;
}.button:active {
  box-shadow: 1px 1px 1px black inset;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: var(--main-color);
  color: white;
  width: 100%;
  height: 97%;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 2px 4px var(--main-shadow-color);
}

.board-case {
  margin-top: 10px;
  padding: 10px;
}

.background-case {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--main-color);
  box-shadow: 0 0 4px 2px var(--main-shadow-color);
}

.right-panel {
  display: flex;
  flex-direction: column;
  /* margin-top: 5%; */
  text-align: center;
  background-color: var(--main-color);
  color: white;
  width: 100%;
  height: 97%;
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 2px 4px var(--main-shadow-color);
}

.scroll {
  overflow-y: auto;
}

.new-account {
  margin: 4% 5%;
  background-color: rgb(30,150,210);
}

.list {
  border-radius: 5px;
  margin: 10px 5px;
}

.max-size {
  max-height:100%;
  overflow-y: auto;
}

.p-div-display {
  display: flex;
  flex-direction: column;
  margin: 0 5% 0 5%;
}

.newAccount-display {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 2%;
}

@media screen and (max-width:1600px) {
  .account {
    max-height: 25%;
  }
  .background-case {
    font-size: 12px;
  }
}
