.text {
  color: white;
  text-align: center;
  padding-bottom: 1.5%;
}

.center-content {
  justify-content: left;
}

.account-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 100%;
}

.form {
  width: 50%;
}

.select {
  padding: 1%;
}

.right-content {
  display: none;
}

.center-content {
  width: 85%;
}
