.submit {
  background-color: var(--button-color);
  padding: 5px 0;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}.submit:hover {
  opacity: 0.8;
}.submit:active {
  box-shadow: -1px -1px 1px black inset;
}
