<div class="background-case">
  <table class="average-board" cellspacing="0">
    <thead>
      <tr>
        <th colspan=2>Moyenne du compte</th>
      </tr>
    </thead>
    <tbody>
      <tr class="credit">
        <td>+</td>
        <td>{{ tools.posAverage() }}</td>
      </tr>
      <tr class="debit">
        <td>-</td>
        <td>{{ tools.negAverage() }}</td>
      </tr>
      <tr class="{%if tools.resultAverage()>0%}credit{%else%}debit{%endif%}">
        <td>=</td>
        <td>{{ tools.resultAverage() }}</td>
      </tr>
      <tr>
        <td id="info">Prévision</td>
        <td></td>
      </tr>
      <tr>
        <td>
          <input type="hidden" id="amout" value="{{tools.resultAverage()}}">
          <input type="number" id="multiplier" size=4 min=0 max=1200>
          <button onclick="forecastGlobal()">Calculer</button>
        </td>
        <td class="{%if tools.resultAverage()>0%}credit{%else%}debit{%endif%}" id="result"></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  function forecastGlobal() {
  var multiplier = document.getElementById("multiplier").value
  var amout = document.getElementById("amout").value
  result = multiplier * amout
  document.getElementById("result").innerHTML = result.toFixed(2)
  document.getElementById("info").innerHTML = "Prévision sur "+multiplier+" mois"
  console.log(document.getElementById("result").innerHTML)
}
</script>
