<div class="background-case">
  <table class="average-board"cellspacing="0">
    <thead>
      <tr>
        <th colspan=2>Somme par catégorie</th>
      </tr>
    </thead>
    <tbody>
        {% for k, v in tools.amoutByCategory(date).items() %}
          {% if v != 0 %}
          <tr>
              <td>{{ k.name }}</td>
              <td class="{%if v > 0 %}credit{%else%}debit{%endif%}">{{ v }}</td>
          </tr>
          {% endif %}
        {% endfor %}
    </tbody>
  </table>
</div>
