<div class="background-case">
  <table class="average-board"cellspacing="0">
    <thead>
      <tr>
        <th colspan=2>Moyenne par catégorie</th>
      </tr>
    </thead>
    <tbody>
      {% for k, v in tools.getAverageByCategory().items() %}
        {% if v != 0 %}
        <tr>
          <td>{{ k.name }}</td>
          <td class="{%if v > 0 %}credit{%else%}debit{%endif%}">{{ v }}</td>
          <td>
            <form class="" action="" method="post">
              <input type="hidden" name="c_id" value="{{ k.id }}">
              {% if k.recurrence != True %}
              <input type="submit" name="btn" value="V">
              {% endif %}
            </form>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
