<div id="categoryView" class="hidden m-top-20">
  {% if account.name %}
  <table cellspacing="0" class="transaction-table">
    <thead>
      <tr>
        <th class="th-list">
          <span class="">{{ account.name }}</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody id='body'>
      {% for c in categories %}
        {% if not c.mtRelation %}

        <tr class="w-100">
          <td id="{{c.id}}span" class="w-100">
            <form class="f-row-between w-100" action="" method="post">
              <input class="no-input" type='text' value="{{ c.name }}">
              <input type="hidden" name="id" value="{{ c.id }}">
              <!-- <button class="btn" type="submit" name="btn" onclick="getPos({{c.id}})" value="set-category">
                <img src="/static/icon/edit.ico" alt="">
              </button> -->
                <button class="btn" type="submit" name="btn" onclick="getPos({{c.id}})" value="del-category">
                  <img src="/static/icon/delete.ico" alt="">
                </button>

            </form>
          </td>
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
