<h3>Nouvelle transaction</h3>
<form class="background-case" action="" method="post">
  <input class="input" type="text" name="cat_name" placeholder="nouvelle catégorie" required>
  <input class="input submit" type="submit" name="btn" value="ajouter">
</form>
<form class="background-case" action="" method="post">
  <select class="select" name="account" value="compte">*
    <option value="{{account.id}}">{{account.name}}</option>
    {% for a in accounts %}
      <option value="{{ a.id }}">{{ a.name }}</option>
    {% endfor %}
  </select>
  <select id="target" class="select" name="target" style="display:none">
    <option value="">-- compte cible --</option>
    {% for a in accounts %}
      <option value="{{ a.name }}">{{ a.name }}</option>
    {% endfor %}
  </select>
  <input class="select-date" type="number" name="date_move" min=1 max=31 placeholder="jour de transaction" required>
  <br>
  <select id="recurrence" class="select" name="recurrence">
    <option value="{{recurrence[1].id}}">Occasionnel</option>
    <option value="{{recurrence[0].id}}">Mensuel</option>
    <option value="{{recurrence[3].id}}">Anticipation</option>
  </select>
  <div class="">
    <input id="category-ref" type="hidden" name="category" value="">
    <input id="category-input" class="select" type="text" name="" value="" placeholder="Catégorie" autocomplete="off" required>
    <div id="categories-choice" class="scroll-if bg-choice c-white" style="display:none">
      {% for c in categories %}
        <p class="category-choice pointer" value="{{ c.id }}">{{ c.name }}</p>
      {% endfor %}
    </div>
  </div>
  <!-- <select id="category" class="select" name="category" onclick="getOption(this)" required>
    <option value="">-- catégorie --</option>
    {% for c in categories %}
      <option class="option" value="{{ c.id }}">{{ c.name }}</option>
    {% endfor %}
  </select> -->
  <input id="transaction" class="input" type="text" name="name" placeholder="transaction" value="" required>
  <select class="select" name="type">
    <option value="{{types[1].id}}">Débit</option>
    <option value="{{types[0].id}}">Crédit</option>
  </select>
  <input class="input" type="text" name="sum" placeholder="somme" required>
  <input class="input submit" type="submit" name="btn" value="Enregistrer">
</form>
<script src="/static/js/form_transaction.js"></script>
