<header>
  <a class="header-home" href="{{ url_for('home')}}">
    <img src="/static/icon/home_grey.ico" alt="">
    <h1 class="title">ACCOUNT MANAGER</h1>
  </a>
    <li><a class="top-btn" href="{{ url_for('accountList') }}">Liste des comptes</a></li>
    <li class="dropdown">
      <ul class="dropbtn top-btn"><a class="" href="">Liste des transactions</a>
        <li class="dropdown-content">
          {% for a in accounts %}
            <a class="top-btn" href="{{ url_for('transactionList', account=a['id']) }}">{{a.name}}</a>
          {% endfor %}
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <ul class="dropbtn top-btn"><a class="" href="">Graphiques</a>
        <li class="dropdown-content">
          {% for a in accounts %}
            <a class="top-btn" href="{{ url_for('charts', account=a.id) }}">{{ a.name }}</a>
          {% endfor %}
        </li>
      </ul>
    </li>
</header>
