<div id="left-panel" class="left-panel">
  <div class="account">
    <div id="left-close" class="pointer" style="display:none">
      fermer
    </div>
    <h2 class="panel-title">Visuel de comptes</h2>
    <div class="p-div-display max-size">
      {% for a in accounts %}
          <a class="button" href="{{ url_for('board', account=a.id, date=currentDate) }}">{{ a.name }}</a>
      {% endfor %}
    </div>
  </div>
  {% if account and account.id %}
    <div class="p-div-display">
      {% include 'layouts/shareds/form_transaction.html' %}
    </div>
  {% endif %}
  <div class="newAccount-display">
    <a class="button new-account" href="{{ url_for('newAccount') }}">Nouveau compte</a>
  </div>
</div>
<div id="left-open" class="pointer" style="display:none">
  <p>o</p>
  <p>u</p>
  <p>v</p>
  <p>r</p>
  <p>i</p>
  <p>r</p>
</div>
<script src="static/js/leftPanel.js" charset="utf-8"></script>
