<div class="background-case">
  <table class="average-board"cellspacing="0">
    <thead>
      <tr>
        <th colspan=2>somme mentuel par catégorie</th>
      </tr>
    </thead>
    <tbody>
        {% for k, v in tools.sumByCategory.items() %}
          <tr>
            {% if v > 0 %}
              <td>{{ k }}</td>
              <td class="{% if v > 0 %}credit{% if v <  0 %}debit">{{ v }}</td>
            {% endif %}
          </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
