<div class="right-panel">
  <h2 class="panel-title">Statistique</h2>
  {% if tools %}
    <div class="scroll">
      <div class="p-div-display">
        {% include 'layouts/shareds/account_average.html' %}
      </div>
      <div class="p-div-display">
        {% include 'layouts/shareds/category_average.html' %}
      </div>
      <div class="p-div-display">
        {% include 'layouts/shareds/category_amout.html' %}
      </div>
    </div>
  {% endif %}
</div>
