<div id="transactionView" class="transaction-display">
  <div class="div-display p-10">
    <div class="dropdown">
      <a class="dropbtn top-btn other" href="{{ url_for('transactionList', account=a_id) }}">Tout</a>
    </div>
    <div class="dropdown">
      <a class="dropbtn top-btn" href="">par catégorie</a>
      <div class="dropdown-content">
        {% for c in categories %}
          <a class="top-btn" href="{{ url_for('transactionList', account=a_id, cat=c.name) }}">{{c.name}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <a class="dropbtn top-btn" href="">par récurrence</a>
      <div class="dropdown-content">
        {% for r in recurrences %}
          {% if r.id != 3 %}
            <a class="top-btn" href="{{ url_for('transactionList', account=a_id, recurrence=r.name) }}">{{r.name}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="dropdown">
      <a class="dropbtn top-btn" href="">par type</a>
      <div class="dropdown-content">
        {% for type in types %}
          <a class="top-btn" href="{{ url_for('transactionList', account=a_id, type=type.name) }}">{{type.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if account.name %}
  <table cellspacing="0" class="transaction-table">
    <thead>
      <tr>
        <th class="th-list">
          <span class="">{{ account.name }}</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody id='body'>
      {% for t in transactions %}
        {% if t.account_id == account.id %}
          {% if cat == None and rec == None and type == None %}
            {% include 'layouts/shareds/transaction_list_tbody.html' %}
          {% endif %}
          {% if t.category.name == cat or t.recurrence.name == rec %}
            {% include 'layouts/shareds/transaction_list_tbody.html' %}
          {% endif %}
          {% if t.type.name == type %}
            {% include 'layouts/shareds/transaction_list_tbody.html' %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>

<script type="text/javascript">
  function openForm(id) {
    document.getElementById(id).style.display = "flex";
    document.getElementById(id+"btn").style.display = "flex";
    document.getElementById(id+"btnForm").style.display = "none";
    document.getElementById(id+"span").style.display = "none";
    document.getElementById(id+"new-date").style.display = "block";
  }
  function closeForm(id) {
    document.getElementById(id).style.display = "none";
    document.getElementById(id+"btnForm").style.display = "block";
    document.getElementById(id+"span").style.display = "block";
  }
  function getPos(formId) {
    var trs = document.getElementById('body').scrollTop;
    var url = document.location.href.split('&scroll')[0]+'&scroll='+trs
    // console.log('id ::: '+ formId)
    document.getElementById(formId).action = url
  }
  function Scroller() {
    param = window.location.search
    pos = param.split('&scroll=')[1]
    console.log(parseInt(pos))
    document.getElementById('body').scrollTo(0 , pos)
    console.log('scrollBody :: '+ document.getElementById('body').scrollTop)
  }
  setTimeout(Scroller, 50)
  Scroller()
</script>
