<tr class="{% if t.type_id == 1 %}credit{% else %}debit{% endif %}">
  <td id="{{t.id}}span">
    <div class="">
      <span>{{ t.name }}</span>
      <span>{{ t.category.name }}</span>
      <span>{{ t.recurrence.name }}</span>
      <span>{{ t.amout }}</span>
      <span>{{ t.type.name }}</span>
      <span>{{ t.date_move }}</span>
    </div>
  </td>
  <td>
    <div class="btn-choice" id="{{t.id}}btnForm">
      <button class="btn" onclick="openForm({{t.id}})">
        <img class="img" src="/static/icon/edit.ico" alt="">
      </button>
    </div>
    <form class="form-popup" action="" method="post" id="{{ t.id }}">
      <input class="select input-tab" size=10 type="text" name="name" value="{{ t.name }}">
      <select class="select" name="category" required>
        <option value="{{t.category_id}}">{{t.category.name}}</option>
        {% for c in categories %}
          <option value="{{c.name}}">{{ c.name }}</option>
        {% endfor %}
      </select>
      <select class="select" name="recurrence">
        <option value="{{t.recurrence_id}}">{% if t.recurrence_id == 1 %}Mensuelle{% elif t.recurrence_id == 2 %}Occasionnelle{%else%}Anticipation{%endif%}</option>
        <option value="2">Occasionnelle</option>
        <option value="1">Mensuelle</option>
        <option value="4">Anticipation</option>
      </select>
      <input class="select input-tab" type="text" size=6 name="sum" value="{{ t.amout }}">
      <select class="select" name="type">
        <option value="{{t.type_id}}">{%if t.type_id == 1%}Crédit{%else%}Débit{%endif%}</option>
        {% for type in types %}
        <option value="{{type.id}}">{{ type.name }}</option>
        {% endfor %}
      </select>
      <input class="select input-tab" type="text" size=1 name="date_move" value="{{ t.date_move }}">
      <input type="hidden" name="id" value="{{ t.id }}">
      <td class="form-popup" id="{{t.id}}btn">
        <div class="btn-choice">
          <button class="btn" type="submit" name="btn" onclick="getPos({{t.id}})" value="set-transaction">
            <img src="/static/icon/edit.ico" alt="">
          </button>
          <button class="btn" type="submit" name="btn" onclick="getPos({{t.id}})" value="del-transaction">
            <img src="/static/icon/delete.ico" alt="">
          </button>
        </div>
      </td>
    </form>
  </td>
</tr>
